body {
  background: #141414;
  color: #ffffff;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.center {
  text-align: center;
}

img {
  border: 5px outset rgb(122, 194, 243);
  border-radius: 8px;
  padding: 0 5px;
  margin: 0 5px;
}
.modal-content {
  background-color: #7a7a76;
}

.btn-outline-light {
  position: absolute;
  margin-left: 20px;
  width: 50%;
  height: 58px;
}
